*{
    margin:0;
    padding: 0;
    
}
body{
background-color: grey;
font-family:'Courier New', Courier, monospace ;
}
header{
background-color:beige;
}

/*menu de navegação*/ 
nav {
    background-color: bisque;
    padding: 10px;
}
nav ul{
 
   display: flex;
   justify-content: center;
   gap: 30px;
}
nav ul li {
list-style: none;
}

nav ul li a{
    color: rgb(0, 0, 0);
    margin-right: 15px;
}

/*Area do conteudo*/
main {
max-width: 800px;
margin: 20px auto;
background-color: aliceblue;
padding: 20px;
}

img {
    max-width: 100%;
    border: 1px solid;
} 
footer { 
    text-align: center;
    padding: 20px;
}